## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [11]:
data = {'國家': ['TW', 'UK', 'US', 'FR','JPN','SG','KOR','HK','IND','RUS'],
        '人口': np.random.randint(0,1000,10)*100000}
df = pd.DataFrame(data)

In [12]:
df

    國家        人口
0   TW  89200000
1   UK  32900000
2   US  67600000
3   FR  46500000
4  JPN   1800000
5   SG  10400000
6  KOR  34100000
7   HK  45300000
8  IND  24000000
9  RUS  56300000

In [20]:
df[df.人口 ==  np.array(df['人口']).max()]

   國家        人口
0  TW  89200000